name: Metrics
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: metrics-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: gaborbernat
          base: header, activity, community, repositories
          plugin_languages: yes
          plugin_languages_ignored: html, css, tex, less, dockerfile, makefile, qmake, lex, cmake, shell, gnuplot
          plugin_languages_limit: 8
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          plugin_achievements: yes
          plugin_achievements_display: compact
          plugin_notable: yes
          plugin_notable_from: all
          plugin_lines: yes
          plugin_lines_history_limit: 1
          plugin_stars: yes
          plugin_stars_limit: 4
